.dialog
    .dialog__header
        .dialog__header-item
            .button.button_bold 
                span.button__text SMS
                i.material-icons.button__icon expand_more
            span.dialog__counter 2
            span сообщения
        .button.button_bold(routerLink="/dialog/all") Перейти к диалогам
    .dialog__list
        .dialog__item.clearfix
            img.dialog__avatar.l-avatar-med(src="/dist/4.svg")
            .dialog__info
                a(href='') new user
                .dialog__activity
                    span.dialog__active-item 2 сен 2016 в 18:10
            img.dialog__avatar.l-avatar-sm(src="/dist/4.svg")
            .dialog__message asdasdasdasdasd
        .dialog__item.clearfix
            img.dialog__avatar.l-avatar-med(src="/dist/4.svg")
            .dialog__info
                a(href='') new user
                .dialog__activity
                    span.dialog__active-item 1 сен 2016 в 18:10
            .dialog__message Hello word!
        .dialog__item.clearfix
            img.dialog__avatar.l-avatar-med(src="/dist/4.svg")
            .dialog__info
                a(href='') new user
                .dialog__activity
                    span.dialog__active-item 2 сен 2016 в 18:10
            img.dialog__avatar.l-avatar-sm(src="/dist/4.svg")
            .dialog__message asdasdasdasdasd
        .dialog__item.clearfix
            img.dialog__avatar.l-avatar-med(src="/dist/4.svg")
            .dialog__info
                a(href='') new user
                .dialog__activity
                    span.dialog__active-item 1 сен 2016 в 18:10
            .dialog__message Hello word!