$border-radius: 5px
.button
	position: relative
	top: -1px
	display: inline-flex
	align-items: center
	height: 33px
	text-decoration: none
	border-radius: $border-radius
	background-color: $icon-grey
	padding: 0 20px
	color: $corp-white
	@include button-light-ineract($icon-grey)
	&:hover
		cursor: pointer
.button_bold
	font-weight: bold
.button_right-straight
	border-radius: $border-radius 0 0 $border-radius
.button_left-straight
	border-radius: 0 $border-radius $border-radius 0
.button_green
	background-color: $corp-green
	@include button-interact($corp-green)

.button_yellow
	background-color: $corp-yellow
	@include button-interact($corp-yellow)

.button_blue
	background-color: $corp-elem-blue
	@include button-interact($corp-elem-blue)

.button__icon
	font-size: 1.5rem
	margin-left: 5px
.button__text
